<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Creat your account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--jquery call-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

        <!-- Latest custom CSS -->
        <link rel="stylesheet" href="css/custom.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>
<body>
<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row ">
					<header>
					<div class="logo">
						<img src="logo/logo.png">	
					</div>
					<div class="signin" a href="Job Seeker Account.html">SIGN IN</a></div>	
					<div class="creataccount"> <a href="Creat Account.html"> CREAT ACCOUNT </a></div>
					<nav>
						<ul>
							<li class="active"><a href="index.html">JOBS</a></li>
							<li><a href="#">MY JOBS</a></li>
							<li><a href="#">TRAINING</a></li>
							<li><a href="#">EMPLOYERS</a></li>
							<li><a href="Contuct Us.html">CONTACT US</a></li>
						</ul>
					</nav>
					</header>
					<div class="searchbar">
						<input type="text" value=" Search by Keyword" id="keyword">
						<input type="text" value="Organization Type" id="organization">
						<input type="submit" value="Search" id="submitbutton" a href="#"></a>
					</div>
                </div>
				<div class="panel-heading"><h2>About us</h2></div>
        <p> <br>At jobportal.com, we focus on simply providing high quality people with high quality jobs.</br>

            We connect jobseekers with employers online, because we know that finding a job or a good candidate is not
            easy. We believe that everyone should love what they do and we believe you should never give up or settle
            for less. There are always opportunities. A new job can be more than a new paycheck, it can be a new career
            and a new life</p>


        <h2> Job Seekers</h2>
        <p> We hope to provide job seekers not only with an array of job choices, but also with the tools and knowledge
            to get these jobs. We believe that the way you present yourself and approach the job application process can
            make the difference.</p>

        <h2>Companies</h2>
        <p> We also know that hiring people can be one of the most important and biggest challenges companies face.
            Often the cost of hiring recruiters can be overwhelming while results are disappointing. We are here to
            provide an affordable, usable platform filled with great candidates waiting for your call. See our sample
            job descriptions and recruiting tips to make use of our platform in the best possible way. Post your job now
            and receive your first applications today.</p>
		<div class="footer">
			<footer>
			<div class="footercontent1">
			<h4 style="margin-left:40px";>About Us</h4>
			<ul>
				<li><a href="#">About Jobportal.com</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">International Partners</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			</div>
			<div class="footercontent2">
			<h4 style="margin-left:40px";>Job Seekers</h4>
			<ul>
				<li><a href="#">Create Account</a></li>
				<li><a href="#">Career Counseling</a></li>
				<li><a href="#">My Bdjobs</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Video Guides</a></li>
			</ul>
			</div>
			<div class="footercontent3">
			<h4 style="margin-left:40px";>Employers</h4>
			<ul>
				<li><a href="#">Create Account</a></li>
				<li><a href="#">Products/Service</a></li>
				<li><a href="#">Post a Job</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
			</div>
			<div class="footercontent4">
			<h4 style="margin-left:40px";>Tools & Social Media</h4>
			<ul>
				<li><a href="#">Mobile App</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Google+</a></li>
				<li><a href="#">Youtube</a></li>
			</ul>
			</div>
			</footer>
                </div>

    </div>

    <script src="bootstrap.min.js"></script>
</body>
</html>