<!doctype html>

<html lang="en">
    <head>
        <title>Contact Us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--jquery call-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

        <!-- Latest custom CSS -->
        <link rel="stylesheet" href="css/custom.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>

<body>
<div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
					<header>
					<div class="logo">
						<img src="logo/logo.png">	
					</div>
					<div class="signin" a href="Job Seeker Account.html">SIGN IN</a></div>	
					<div class="creataccount"> 
						<a href="Creat Account.html"> CREAT ACCOUNT </a>
					</div>
					<nav>
						<ul>
							<li class="active"><a href="index.html">JOBS</a></li>
							<li><a href="#">MY JOBS</a></li>
							<li><a href="#">TRAINING</a></li>
							<li><a href="Contact Us.html">CONTACT US</a></li>
							<li><a href="about us.html">ABOUT US</a></li>
						</ul>
					</nav>
					</header>
					<div class="searchbar">
						<input type="text" value=" Search by Keyword" id="keyword">
						<input type="text" value="Organization Type" id="organization">
						<input type="submit" value="Search" id="submitbutton" a href="#"></a>
					</div>

                </div>
		<h2>Create Account</h2>
		<h3 style="color: #768a28";>Account Information</h3>
            <form class="beforefooter">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
				<div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
				<h3 style="color: #768a28";>Company Details</h3>
				<div class="form-group">
                    <label for="exampleInputPassword1">Company Name</label>
                    <input type="text" class="form-control" id="companyname">
                </div>
				<div class="form-group">
                    <label for="exampleInputPassword1">Contact Person</label>
                    <input type="text" class="form-control" id="contactperson">
                </div>
				<div class="form-group">
                    <label for="exampleInputPassword1">Contact Person's Designation</label>
                    <input type="text" class="form-control" id="ContactPerson'sDesignation">
				</div>
				<div class="form-group">
                    <label for="exampleInputPassword1">Contact Person's Mobile</label>
                    <input type="password" class="form-control" id="ContactPerson'sMobile">
				</div>
				<div class="form-group">
                    <label for="exampleInputPassword1">Contact Person's Email</label>
                    <input type="email" class="form-control" id="ContactPerson'sEmail">
				</div>
				<p style="font-size: 10px";>N.B. During your job posting, the system will provide you option whether to display your Company's original name or any alternative name in your published job. If you don't want to show your company name then you can use your given alternative name like, 'A Leading Manufacturing Company' or 'A Leading Multinational Company' etc.</p>
				<h3 style="color: #768a28";>Industry Type</h3>
				<p>You can select multiple industry type regarding your business</p>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="checkbox">
						<label><input type="checkbox" value="">Advertising Agency</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Airline</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Animal/Plant Breeding</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Audit Firms /Tax Consultant</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Bakery (Cake, Biscuit, Bread)</label>
					</div>  
					<div class="checkbox">
						<label><input type="checkbox" value="">Bar/Pub</label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="checkbox">
						<label><input type="checkbox" value="">Advertising Agency</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Airline</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Animal/Plant Breeding</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Audit Firms /Tax Consultant</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Bakery (Cake, Biscuit, Bread)</label>
					</div>  
					<div class="checkbox">
						<label><input type="checkbox" value="">Bar/Pub</label>
					</div>
				</div>
				<div class="form-group">
					<label for="comment">Business Description</label>
					<textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
				<h3 style="color: #768a28";>Primary Contact Details</h3>
				<div class="form-group">
                    <label for="CompanyAddress">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
				<div class="form-group">
					<label for="sel1">Country</label>
					<select class="form-control" id="sel1">
					<option>Bangladesh</option>
					<option>Germany</option>
					<option>US</option>
					<option>UK</option>
					</select>
				</div>
				<div class="form-group">
                    <label for="Company Address">City</label>
                    <input type="text" class="form-control" id="City">
                </div>				
				<div class="form-group">
                    <label for="BillingAddress">Billing Address</label>
                    <input type="text" class="form-control" id="BillingAddress">
                </div>
				<div class="form-group">
                    <label for="ContactPhone">Contact Phone</label>
                    <input type="number" class="form-control" id="ContactPhone">
                </div>
				<div class="form-group">
                    <label for="Company Address">Contact Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
				<div class="form-group">
                    <label for="Company Address">Website Address (URL)</label>
                    <input type="text" class="form-control" id="WebsiteAddress">
                </div>
				<h3 style="color: #768a28";>Please select an option from below to continue:</h3>
				<label class="radio-inline"><input type="radio" name="optradio">I HAVE READ PRICING POLICY & ACCEPTED IT</label>
				<label class="radio-inline"><input type="radio" name="optradio">I DO NOT ACCEPT PRICING TERMS</label>
				<div>
				<button type="button" class="btn btn-success">Continue</button>
				</div>
			</form>
			</div>
				<div class="footer">
			<footer>
			<div class="footercontent1">
			<h4 style="margin-left:40px";>About Us</h4>
			<ul>
				<li><a href="#">About Jobportal.com</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">International Partners</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			</div>
			<div class="footercontent2">
			<h4 style="margin-left:40px";>Job Seekers</h4>
			<ul>
				<li><a href="#">Create Account</a></li>
				<li><a href="#">Career Counseling</a></li>
				<li><a href="#">My Bdjobs</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Video Guides</a></li>
			</ul>
			</div>
			<div class="footercontent3">
			<h4 style="margin-left:40px";>Employers</h4>
			<ul>
				<li><a href="#">Create Account</a></li>
				<li><a href="#">Products/Service</a></li>
				<li><a href="#">Post a Job</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
			</div>
			<div class="footercontent4">
			<h4 style="margin-left:40px";>Tools & Social Media</h4>
			<ul>
				<li><a href="#">Mobile App</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Google+</a></li>
				<li><a href="#">Youtube</a></li>
			</ul>
			</div>
			</footer>
            </div>
    </div>
	</div>
</div>
<script src="bootstrap.min.js"></script>
</body>
</html>